#header{
  padding:5px;
  margin-bottom:10px;
  border-bottom:1px solid #D4D5DA;
  clear:both;
  font-size:48px;
  font-weight:bold;
}

#header #right a{
  color:black;
  text-decoration: none; 
}

#tail{
  clear:both;
  border-top:1px solid #D4D5DA;
  padding:5px;
  margin-top:20px;
  text-align:center;
}

#left{
  float:left;
}

#right{
  float:right;
  width:160px;
  border:1px solid #D4D5DA;
  padding:5px;
  margin-left:10px;
  background-color: #F8F8F8;
}

#right li{
  list-style:none;
}

#left #naviContent h2{
  margin-top:0;
  width:100%;
}
