<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
 		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
 		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/markdownpad-github.css" type="text/css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/css/layouts.css" type="text/css" />
    </head>

    <body>
		<div id="container">
			<div id="header">
    			<a href="{{ site.baseurl }}">Wright52</a>
    		</div>
		
			<div id="content">
				<div id="leftContainer">
					<div id="left">
						<div id="naviContent">
								{{ content }}
							</div>
					</div>
				</div>
	
				<div id="right">
					<ul>
						<li><a href="{{ site.baseurl }}">首页</a></li>
						<li><a href="{{ site.baseurl }}/navigation/navigation_concurrenty.html">并发</a></li>
						<li><a href="{{ site.baseurl }}/navigation/navigation_css.html">CSS</a></li>
						<li><a href="{{ site.baseurl }}/navigation/navigation_java.html">Java</a></li>
						<li><a href="{{ site.baseurl }}/navigation/navigation_algorithm.html">算法</a></li>
						<li><a href="{{ site.baseurl }}/navigation/navigation_js.html">JavaScript</a></li>
						<!-- 
						<li><a href="{{ site.baseurl }}/navigation/navigation_python.html">Python</a></li>
						-->
						<li><a href="{{ site.baseurl }}/navigation/navigation_struts.html">Struts/Spring</a></li>
						<!-- 
						<li><a href="{{ site.baseurl }}/navigation/navigation_C.html">C/C++</a></li>
						-->
						<li><a href="{{ site.baseurl }}/2014/09/22/recommendation.html">好文推荐</a></li>
						<li><a href="{{ site.baseurl }}/navigation/navigation_other.html">其他</a></li>
					</ul>
				</div>
			</div>
		
			<div id="footer">
    			Email:wumeng1118@126.com
    		</div>

		</div>
    </body>
</html>
